

<section class="expertise" id="expertise">
<div class="container-fluid myPadding">
    <div class="row padding">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 m-auto">
            <iframe class="col-12 col-sm-12 col-md-12" height="300" src="https://www.youtube.com/embed/J0uzhptIFLw" 
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
          </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-div pl-5">
        <h2 class="text-uppercase font-weight-bold">our expertise</h2>
        <h4>Gamers around the world join us to promote one clan</h4>
        <p class="p1">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, 
          making this the first true generator on the Internet.</p>
          <br>
        <button class="btn myBtn">Join Our Team »</button>
        
        <p class="p2">Selection on basis of Live Matches! </p>
      </div>
      
    </div>
  </div>
</section>