

<nav id="myNavbar" class="navbar navbar-expand-sm myNavbar navbar-dark fixed-top ">
  <div class="container-fluid">  
  <a class="navbar-brand myLogo" href="#">GameON</a>
    <button class="navbar-toggler d-lg-none "  type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "><i class="fa fa-navicon"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0 myLinks">
        <li class="nav-item active ">
          <a class="nav-link" routerLink="/home">HOME<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/team">OUR TEAM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/expertise">OUR EXPERTISE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/join">JOIN US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">CONTACT</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>