

<div class="container-fluid myPadding" id="team">
  <div class="row padding">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-div">
      <h2 class="text-uppercase font-weight-bold">meet our team</h2>
      <h4>Experienced players all around the world</h4>
      <p class="p1">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, 
        making this the first true generator on the Internet.</p>
        <br>
      <button class="btn myBtn">Join Our Team »</button>
      
      <p class="p2">Selection on basis of Live Matches! </p>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
      <img class="w-100" src="assets/team.jpeg">
    </div>
  </div>
</div>